.buildpath
.git/
.project
.settings/
assets/

protected/runtime/*.log
protected/runtime/application.*
protected/config/*.php
protected/runtime/
protected/runtime/*.*
protected/config/*.php
upload/
html/phpmyadmin
html/phpmyadmin.tar.gz
home/html/un

home/protected/runtime/*.log
home/protected/runtime/application.*
home/protected/config/*.php
home/protected/runtime/
home/protected/runtime/*.*
home/protected/config/*.php
upload/
download/
pp/
pp
tmp/
tmp



